body {
    font-family: 'Montserrat', serif;
    color: #FFEFD3;
    background-color: #75485E;
    font-size: 64px;
}

h1 {
    font-size: 64px;
}

#game-data h3{
    display: inline-block;
    margin-left: 15px;
    color: #FFC49B;
    font-weight: bold;

}

#game-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-form label {
    color:#FFC49B;
    margin: 0px 20px 15px 0px;
    font-size: 18px;
}

.operation-boxes {
  margin-top: -50px;
}

#user-input input::-webkit-inner-spin-button, 
#user-input input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#game-timer {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    bottom:0;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-timer-text {
    font-size: 18rem;
}

/* .blur-away {
    z-index: -2;
    filter: blur(15px);
    transition: ease-in 1s;
} */

#user-input {
    border: 2px #FF99A0 solid;
    padding: 8px;
    background: transparent;
    text-align: center;
    color:#FF99A0;
}

#user-input:focus {
    outline: none;
}
#limit-form {
    text-align: center;
    width: 80%;
    margin: -20px auto 0 auto;
}
/* #limit-form span, #limit-form label {
  display: inline-block;
} */

.limit-values, .limit-values-text {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.operation-selection {
  display: block;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#limit-form input {
    -webkit-appearance: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: linear-gradient(90deg, #BCB6FF 0%, #FF99A0 50%);
    border-radius: 30px;
    /* border: 2px solid #fff; */
}

#limit-form input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(218, 230, 250);
    opacity: 1;
    width: 15px;
    height: 15px;
}

#limit-form input:focus {
    outline: none;
}
